.acq_logo {
	font-family: 'Istok Web', sans-serif;
	/*font-size: 25px !important;*/
	text-shadow: -1px 1px 3px black;
	color: white !important;
	text-decoration: none !important;
}

.acq_i {
	color: red;
}

#header {
	
}