body {
	background: lightgray;
}

.acq_logo {
	font-family: 'Istok Web', sans-serif;
	font-size: 30px;
	text-shadow: -1px 1px 3px black;
	color: white !important;
	text-decoration: none !important;
	float: right;
	padding-top: 9px;
}

.acq_i {
	color: red;
}

.container-fluid {
	padding-top: 40px;	
}

.content {
	margin-left: 0;
	background: white;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

input.search-query {
	height: inherit;
	margin-bottom: 0;
}

/*
#leftBanner {
	text-align: center;
}

#bottomBanner {
	text-align: center;
}
*/
.adBanner {
	text-align: center;
}

.adBanner img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

.columnHeader {
	text-align: center;
}